# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Milvus Docker volumes
volumes/
*.log
*.wal
*.tmp

# Env & packages
.env
venv/
.env.*
.Python
*.env

# OS
.DS_Store
Thumbs.db

# Others
*.tar.gz
*.sqlite3
standalone.bat
